.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white ;
    height: 80vh;
    margin-top: 2em;
    width: fit-content;
    padding: 4em;
    border-radius: .5em;

}
label{
    font-size: large;
    font-weight: 700;
    width: max-content;
}
input{
    width: 20em;
}
.row{
    display: flex;
    flex-direction: column;
}
.button{
    margin-top: 0.5em;
    display: flex;
    justify-content: space-evenly;
}
h1{
    text-align: center;
    color: brown;
}
.btn{
    width: 7em;
    padding: .4em;
}